#root {
    margin: 0 auto;
}

:root {
    font-family: 'Times New Roman', Times, serif !important;
    font-size: large;
    line-height: 1.3;
    color: #000;
    background-color: #FFF;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Container */
.container-app {
    width: 100%;
    margin: auto;
    padding-top: 60px;
        padding-bottom: 60px;
    overflow: hidden;
    display: flex;
        justify-content: center;
}

/* Header */
.container-header {
    display: flex;
    flex-direction: row;
    background-color: #0D9276;
    width: 100%;
    height: 55px;
    align-items: center;
    padding: 0 100px;
    border-bottom: 1px solid #0D9276;
        box-shadow: 0 0 10px #0D9276;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1000;
}

.image-logo {
    background-color: #FFF6E9;
    height: 100%;
    border-radius: 5px;
        cursor: pointer;
}

/* Navigation */
.header-nav {
    flex: 1;
    justify-content: center;
    color: #fff;
    display: flex;
}

.header-nav ul a {
    line-height: 45px;
    padding: 0px 20px;
    color: #fff;
    text-decoration: none;
    justify-items: center;
    display: flex;
    gap: 5px;
    transition: background-color 0.3s;
}

.header-nav ul a:hover {
    color: #0D9276;
    background-color: #fff;
}

.header-nav ul a:active {
    color: #40A2E3;
}


/* Body */
.container-body {
    font-family: 'Times New Roman', Times, serif !important;
    font-size: large;
    width: 70%;
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .ant-carousel .slick-slide h3 {
        height: 160px;
        color: #fff;
        line-height: 160px;
        text-align: center;
        background: #364d79;
}

/* Footer */
.container-footer {
    display: flex;
    justify-content: center;
    width: 100%;
        padding: 15px 0;
        background-color: #FFF6E9;
        position: fixed;
        left: 0;
        bottom: 0;
    }
    
    .container-footer p {
        font-weight: 500;
}

.btn-primary {
    font-size: 15px;
    border: none;
    outline: none;
}

.btn-primary:focus,
.btn-primary:active {
    outline: none;
    border: none;
}